@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

html {
  background-color: #000000;
  color: #f5f5f5;
}

.size-double-screen {
  width: 200vw;
  height: 200vw;
}

.alt-text {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .nav-line {
    @apply w-full h-px bg-white transition-all duration-300;
  }

  .nav-list {
    @apply flex flex-col lg:flex-row  mb-5 lg:mb-0;
  }

  .nav-list > li {
    @apply py-5 lg:py-0 cursor-pointer;
  }

  .news-list > li {
    @apply p-5;
  }

  .alt-list > li:nth-child(odd),
  .alt-list > tbody > tr:nth-child(odd) {
    @apply bg-black;
  }

  .red-light {
    @apply w-4 h-4 rounded-full bg-red-700;
  }
}

@layer base {
  button {
    @apply mx-auto p-2 rounded-lg border-0 border-opacity-0 transform transition-all hover:scale-110 hover:border-opacity-100 bg-racingGreen z-0 relative;
  }

  h1 {
    @apply text-2xl text-center;
  }

  a {
    @apply cursor-pointer;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    @apply bg-transparent text-white border-0 border-b-2;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
